<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymleaf.org ">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html" , charset="UTF-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <title>Title</title>
</head>
<body>
<title th:text="${pageTitle}">Prog. környezetek</title>
</br>
<div class="container">

    <div class="row">
        <div class="text-left"> <h1>Menu</h1> </div>
        <div class="col text-right">

        </div>
    </div>
</div>
</br></br></br></br>
<div class="col-sm-4">


        <div alight="right">
            <a  th:href="@{'/list'}" class="btn btn-info" role="button"/>Lista</a>
        </div>
        </br>
        <div alight="right">
            <a th:href="@{'/hozzaad'}" class="btn btn-info" role="button"/>Hozzáad</a>
        </div>
        </br>

</div>
</body>
</html>